@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "HelveticaNeue-Regular";
    src: url("./fonts/HelveticaNeue.ttf") format(truetype);
}

@font-face {
    font-family: "HelveticaNeue-Thin";
    src: url("./fonts/HelveticaNeueThin.ttf") format(truetype);
}

@font-face {
    font-family: "HelveticaNeue-Light";
    src: url("./fonts/HelveticaNeueLight.ttf") format(truetype);
}

@font-face {
    font-family: "HelveticaNeue-Medium";
    src: url("./fonts/HelveticaNeueMedium.ttf") format(truetype);
}

@font-face {
    font-family: "HelveticaNeue-Bold";
    src: url("./fonts/HelveticaNeueBold.ttf") format(truetype);
}

@font-face {
    font-family: "HelveticaNeue-BlackCond";
    src: url("./fonts/HelveticaNeueBlackCond.ttf") format(truetype);
}

.h-landing {
    font-family: "HelveticaNeue-Light";
    font-size: 80px;
    line-height: 92px;
}

.text-landing {
    font-family: "HelveticaNeue-Light";
}

.text-exchange-name {
    font-family: "HelveticaNeue-Bold";
}

.text-medium {
    font-family: "HelveticaNeue-Medium";
}

.text-regual {
    font-family: "HelveticaNeue-Regular";
}

.custom-icon:hover {
    padding-inline: 10;

}